# Ignore everything; then un-ignore what we keep.
*

!.gitignore
!architecture.md
!current-task.md
!user-story.md
!README.md

!src/
!src/**/
!input/
!input/**/

!src/**/*.md
!src/**/*.dot
!src/**/*.txt
!src/**/*.sql
!src/**/*.ipynb
!src/**/*.py
!src/**/*.svg
!src/**/*.png

!input/**/*.md
!input/**/*.dot
!input/**/*.txt
!input/**/*.sql
!input/**/*.ipynb
!input/**/*.py
!input/**/*.svg
!input/**/*.png
